body{
    font-family: montserrat;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: Montserrat-Bold;
}
h2{
    font-weight: 900;
}
p{
    color: #8f8f8f;
}

#title{
    text-align: left;
}
.container-fluid{
    padding: 7% 15%;
}

/* sections */
.colored-section{
    background-color: #ff4c68;
    color:#fff;
    
}
.white-section{
    background-color: #fff;
}
/* heading section */


.big-heading{
    font-family: Montserrat-Black;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
/* Navigation-bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 400px;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family:Montserrat-Light;
}
/* download buttons */
.download-button{
    margin:5% 3% 5% 0;
}
/* title section */
#title.container-fluid{
    padding: 3% 15% 7%;
}
/* title images */
.title-image{
    width:60%;
    transform: rotate(25deg);
}
@media (max-width:993px)
{
    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(0);
    }
    
}
/* features */
    #features{
        margin:50px auto 50px;
    }
    h3{
        font-family: Montserrat-bold;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .feature-title{
        font-size: 1.5rem;
    }
    

    .feature-icon{
        color: #ef8172;
        margin-bottom: 5%;
    }
    .feature-icon:hover{
    color: #ff4c68;
    
    }
    .feature-box{
        
        padding: 5%;
    }
    .feature-container{
        padding: 300px auto 100px;
    }
/* Testimonial section     */
#testimonials{
    
    
    background-color:#ef8172;
    color:#fff;
    font-weight: 1500;
    
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin:2%;
}

/* press section */
#press{
   
    background-color:#ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 5px;
}
/* pricing */
#pricing{
    padding: 100px;
    
}
.pricing-column{
    padding:3% 2%;
}
.price-text{
    line-height: 1.5;
    font-size: 3rem;
}
/* cta section */
.cta-head{
    font-family: Montserrat Black;
    font-weight: 900;
}
/* footer */

.social-icon{
    margin: 20px 10px;
}


